@mixin button {
  width: 25%;
  stroke: yellow;
  stroke-width: 4px;
  stroke-linecap: round;
  fill: transparent;
  & path {
    transition: d 0.35s;
    d: path("M4 4 L 46 50 L 4 96");
  }

  &:hover path {
    d: path("M0 0 L0 50 M50 50 L 50 100");
  }
}
