@mixin navLines {
  content: "";
  display: flex;
  flex-grow: 1;
  background-color: var(--primary);
  align-self: center;
  margin-right: 2px;
  width: 1px;
}

@mixin breathe($space: 0.1em) {
  letter-spacing: $space;
}

.container {
  height: 100%;
  padding: var(--s3);
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: auto;
  background-color: var(--secondary);
}

.header {
  display: flex;
  flex-direction: row;
  grid-row: 1 / -1;
  height: 100%;
  align-items: center;
  justify-content: space-around;

  // transform: rotate(180deg);
  writing-mode: vertical-lr;

  &__title {
    order: 1;
  }
  &__nav {
    flex-basis: 50%;
  }
  &__navItems {
    color: var(--primary);
    display: flex;
    line-height: 1;
    align-items: flex-start;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    & > * {
      position: relative;
      display: flex;
      flex: 1 1 0;
      justify-content: center;
    }
    & > :first-child::after {
      @include navLines;
    }
    & > :last-child::before {
      @include navLines;
    }
  }
}
