.trackList {
  display: grid;
  grid-gap: var(--s2);
  margin-left: var(--s5);
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(200px, 0.65fr));
}
@media (max-width: 20rem) {
  :root {
    --s2: var(--s-1);
  }
}
.track {
  &__image {
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2),
      6px 6px 1px rgba(255, 255, 255, 1), 7px 7px 1px rgba(0, 0, 0, 0.2),
      12px 12px 1px rgba(255, 255, 255, 1), 13px 13px 1px rgba(0, 0, 0, 0.2);
    position: relative;
    width: 100%;
    margin-bottom: var(--s1);
    z-index: 0;
  }
  &__button {
    appearance: none;
    background: none;
    border: 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 500;
    &:focus {
      outline: 2px solid red;
    }
  }
  &__title {
    font-size: var(--font-size-M);
  }
}
